.form {
  padding: 0;
  margin: 0;
}

.date1 {
  margin-right: 15px;
}
.date {
  margin-left: 15px;
}
.date1,
.date2 {
  display: inline-block;
  height: 35px;
  width: 180px;
  font-size: 17px;
  padding: 2px 8px;
  margin-top: 8px;
  border: 1px solid rgb(218, 73, 54);
  border-radius: 10px;
  color: rgba(243, 72, 50, 0.63);
}


input[type="date"]::-webkit-calendar-picker-indicator{
  opacity: .5;
  
}
input[type="date"]:focus {
  outline: 1px solid rgb(218, 73, 54);
}
button {
  display: inline-block;
  padding: 5px 35px;
  font-size: 1.3em;
  margin: 3px 10px;
  outline: none;
  border: 1px solid rgb(218, 73, 54);
  border-radius: 15px;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: white !important;
  color: rgba(0, 0, 0, 0.432);
  
}
.inactive {
  background-color:#fff;
 /* color:black;
 opacity: .5; */
}
.active {
  background-color: white;
  color: rgba(243, 72, 50, 0.63);
}

@media screen and (max-width: 700px) {
  button {
    display: block;
    margin: 30px auto 0px auto;
    
  }
  .date1,
.date2 {
  padding: 0 8px;
  margin: 0 8px;
}
}