input[list="suggestions"] {
  width: 350px;
  height: 50px;
  /* margin-right: 40px; */
  font-size: 18px;
  border: 2px solid #4a2545;
  border-radius: 50px;
  padding: 2px 20px;
}
input[list="suggestions"]::placeholder {
  color: #8b637f;
}
input[list="suggestions"]::-webkit-scrollbar-thumb {
  color: yellowgreen;
  background-color: darksalmon;
}
.input_wrapper {
  display: block;
  margin: 0 auto;
}
