.form_container {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: wrap;
}
.form_container > * {
  flex: 1 1 1;
}
.form_wrapper {
  display: block;
  text-align: center;
  margin-top:50px;
  width: 100%;
 
}

.graph h1 {
  text-align: center;
  margin: 50px 0;
}
body {
  background-color: blanchedalmond;
}
@media screen and (max-width: 700px){
  .form_container {
   
    gap: 25px;
    
  }
}